<div class="forgot-container">
    <div class="forgot-header">
      <span>Quên mật khẩu</span>
    </div>
  
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-form">
      <div class="form-group">
        <div class="input-with-icon">
          <div class="icon-container">
            <i class="fas fa-user"></i>
          </div>
          <input type="text" formControlName="username" placeholder="Tài khoản">
        </div>
      </div>
  
      <div class="form-group">
        <div class="input-with-icon">
          <div class="icon-container">
            <i class="fas fa-envelope"></i>
          </div>
          <input type="email" formControlName="email" placeholder="Nhập địa chỉ email của bạn">
        </div>
      </div>
  
      <button type="submit" class="submit-button">Lấy mật khẩu</button>
    </form>
  </div>